.carousel-img-0 {
    background: linear-gradient(to left, #ffffff00, #00000088), url("images/mouse.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%, 80%;
}

.carousel-img-1 {
    background: linear-gradient(to left, #ffffff00, #00000088), url("images/keyboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%, 80%;
}
