@page "/"
@using System.Globalization
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStoage
@inject StoreContext Context

<PageTitle>Store</PageTitle>

<MudCarousel Class="mud-width-full" Style="height:80vh;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false" AutoCycle="true" TData="object">
    <MudCarouselItem Transition="Transition.Fade">
        <div class="d-flex carousel-img-0" style="height:100%">
            <div class="mx-5 my-auto px-5">
                <MudText Typo="Typo.h2" Class="ms-2 my-auto" Style="color:white;text-shadow:0px 6px 6px black" GutterBottom="true">Premium<br />Gaming Gear</MudText>
                @*<MudButton Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary" Class="my-5">Shop Now</MudButton>*@
            </div>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Fade">
        <div class="d-flex carousel-img-1" style="height:100%">
            <div class="mx-5 my-auto px-5">
                <MudText Typo="Typo.h2" Class="ms-2 my-auto" Style="color:white;text-shadow:0px 6px 6px black" GutterBottom="true">Premium<br />Gaming Gear</MudText>
                @*<MudButton Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary" Class="my-5">Shop Now</MudButton>*@
            </div>
        </div>
    </MudCarouselItem>
</MudCarousel>
<MudPaper Class="pa-16 ma-2" Elevation="0">
    <MudText Typo="Typo.h4">Products</MudText>
    <MudDivider DividerType="DividerType.Middle" Class="my-6" />
    @if (products?.Count > 0)
    {
        <MudGrid Justify="Justify.Center">
            @foreach (var product in products)
            {
                <MudItem xs="12" md="3">
                    <MudCard>
                        <MudCardMedia Image="@product.ThumbnailUri" Height="200" />
                        <MudCardContent>
                            <MudText Typo="Typo.h5">@product.Name</MudText>
                            <MudText Typo="Typo.body1">@product.Price.ToString("C2", CultureInfo.CreateSpecificCulture("en-PH"))</MudText>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="e => AddToCart(product.Id)">Add To Cart</MudButton>
                        </MudCardActions>
                    </MudCard>
                    @*<MudCard>
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px" />
                <MudCardContent>
                <MudSkeleton Width="30%" Height="1.5rem;" />
                <MudSkeleton Width="20%" Height="1rem;" />
                </MudCardContent>
                <MudCardActions>
                <MudSkeleton Width="40%" Height="1.5rem" Class="ml-2" />
                </MudCardActions>
                </MudCard>*@
                </MudItem>
            }
        </MudGrid>
    }
    
    @*<MudDivider DividerType="DividerType.Middle" Class="my-6" />
    <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">View All Products</MudButton>*@
</MudPaper>

@code {
    [CascadingParameter]
    protected ShopSession? ShopSession { get; set; }

    [CascadingParameter]
    protected ShoppingCart? ShoppingCart { get; set; }

    private List<Product>? products;

    protected override void OnInitialized()
    {
        products = Context.Products.ToList();

        base.OnInitialized();
    }

    private void AddToCart(int productId)
    {
        var newCartItem = new CartItem
        {
            ShopSessionId = ShopSession!.Id,
            ProductId = productId,
            Quantity = 1
        };

        Context.Add(newCartItem);
        Context.SaveChanges();
        ShoppingCart?.Reload();
    }
}
